	
{% extends 'base.html.twig' %}
 
{% block title %}Project{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Project</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_demo_index') }}"> 
                    View All Projects
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Name:</b>
                <p>{{ demo.name }}</p>
                <b class="text-muted">Description:</b>
                <p>{{ demo.description }}</p>
                 <b class="text-muted">Scholl Name:</b>

                <p>{{ demo.schoolname }}</p>

                <b class="text-muted">Date Created:</b>
                <p>{{ demo.createdAt ? demo.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ demo.updated ? demo.updated|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}